* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
}

/*** Typography ***/
/*** Header ***/
h1 {
  font-family: "raleway";
  font-size: 2.4rem;
  font-weight: 100;
}
/*** Subheader ***/
h2 {
  font-family: "raleway";
  font-size: 1.8rem;
  font-weight: 100;
}
/*** Quote ***/
h3 {
  font-family: "roboto";
  font-size: 1.6rem;
  font-style: italic;
}
/*** Link ***/
h4 {
  font-family: "raleway";
  font-size: 1.6rem;
  font-weight: 100;
}
/*** Body ***/
p {
  font-family: "roboto";
  font-size: 1.6rem;
}

/*** Structure ***/

section {
  background-color: #ffffff;
  color: #000000;
}

.header {
  text-align: center;
  padding-bottom: 8rem;
}

/*** Buttons ***/
.btn {
  background: none;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  font-family: "raleway";
  font-size: 1.4rem;
  font-weight: bold;
  margin: 4rem 0;
  overflow: hidden;
  padding: 2rem 4rem;
  position: relative;
}

.btn1 {
  background-color: #CF2833;
  color: #fff;
}

.back-to-top {
  background-color: #fff;
  color: #000;
}

.btn3 {
  background: none;
  color: #fff;
}

/*** Navigation Bar ***/
.navbar {
  background: #000;
  display: flex;
}

.dropdown {
  align-items: center;
  background: #000;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.dropdown a img {
  height: 2rem;
  width: 2.8rem;
}

.menu {
  position: relative;
}

.menu ul {
  align-items: center;
  background: #000;
  display: flex;
  flex-direction: column;
  height: 24rem;
  justify-content: space-around;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateY(-1rem);
  transition: all 0.4s ease;
  width: 20rem;
}

.menu a {
  background: none;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-family: "raleway";
  font-size: 1.6rem;
  text-decoration: none;
}

.menu li {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.menu li:hover {
  background-color: #CF2833;
}

.menu a,
.navLogo {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.menu a:hover,
.home:hover {
  color: #FAEAEB
}

.menu a:focus + ul{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

/*** Hero ***/
.hero {
  grid-area: hero;
}

.heroImage {
  background: url(../images/AshleyRossUXHero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 58rem;
  justify-content: center;
  padding: 10rem 0;
  text-align: left;
  color: #fff;
}

.heroText {
  margin: 0 auto;
  width: 90%;
}

.heroText h2 {
  padding-bottom: 4rem;
}

.scroll {
  margin: 0 auto;
  padding-top: 4rem;
  text-align: center;
  width: 90%;
}

/*** Recent Project ***/
.work-section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.work-image {
  height: 60rem;
  justify-content: center;
}

.work {
  margin-bottom: 8rem;
}

.work-grid {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

.work-column {
  padding-left: 20px;
  padding-right: 20px;
}

/*** Bam Decoration ***/
.decoration1 {
  background: none;
  grid-area: decoration1;
}
/*** Design Process ***/
.process {
  background-color: #faeaeb;
  display: grid;
  grid-area: process;
  grid-column-gap: 4rem;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  padding: 8rem 0;
}

.process h1 {
  padding-bottom: 8rem;
  text-align: center;
}

.processOne, .processTwo, .processThree, .processFour {
    text-align: center;
}

.processOne img {
  height: 12rem;
  margin-bottom: 2rem;
}

.processTwo img {
  height: 12rem;
  margin: 4rem 0 2rem 0;
}

.processThree img {
  height: 12rem;
  margin: 4rem 0 2rem 0;
}

.processFour img {
  width: 12rem;
  margin: 4rem 0 2rem 0;
}

.process h2 {
  padding-bottom: 2rem;
}

.process p {
  margin: .3rem;
}

/*** Smash Decoration ***/
.decoration2 {
  background: none;
  grid-area: decoration2;
}

/*** Testimonial ***/
.test {
  grid-area: test;
  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;
  padding: 8rem 0;
  width: 60%;
}

/*** Footer ***/
.footer {
  background-color: #000;
  color: #fff;
  grid-area: footer;
}

.footerContent {
  display: grid;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  margin: 0 auto;
  padding: 8rem 0;
  text-align: center;
  width: 90%;
}

.footerContactIcons img {
  height: 4rem;
  margin: 0 2rem;
  width: 4rem;
}

.footer h4 {
}

.footerLogo {
  height: 6rem;
  width: 8rem;
}

/*** Project 1 ***/
.projectHeroImage {
  background-image: url(../images/Rocks.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: heroImage;
  height: 26.8rem;
  justify-content: center;
  text-align: center;
}

.logo {
  font-size: 160px;
  line-height: 160px;
}

.userFlowImg {
  background-image: url(../images/UserFlowBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 61.7rem;
  width: 37.5rem;
}

.questions li, .results li, .summary li, .tasks li {
  font-family: "roboto";
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.needs li {
  font-family: "roboto";
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/*** Responsive Design ***/
