* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
}

h1 {
  font-size: 2.4rem;
  font-family: "raleway";
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 2.4rem;
  font-family: "raleway";
  margin-top: 4rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2.4rem;
  font-family: "raleway";
  margin-top: 1rem;
  margin-bottom: 4rem;
}

h4 {
  font-size: 1.8rem;
  font-family: "raleway";
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.6rem;
  font-family: "roboto";
  font-style: italic;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

h6 {
  font-size: 1.6rem;
  font-family: "raleway";
  margin-top: 4rem;
  margin-bottom: 4rem;
}

p {
  font-size: 1.6rem;
  font-family: "roboto";
  margin-top: 4rem;
  margin-bottom: 4rem;
}

li {
  font-size: 1.6rem;
}

section {
  background-color: #ffffff;
  color: #000000;
  margin-top: 1rem;
  padding: 10rem 0;
}

.container {
  text-align: center;
}

.btn {
  background: none;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  font-family: "raleway";
  font-weight: bold;
  cursor: pointer;
  margin-top: 4rem;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color: #fff;
  background-color: #CF2833;
}

.btn2 {
  color: #fff;
  background-color: #094C55;
}

.btn3 {
  background-color: #fff;
  color: #000;

}

.btn4 {
  color: #fff;
  background-color: #CF2833;
}

.btn5 {
  color: #fff;
  background: none;
}

.navbar {
  background-color: #000;
  color: #fff;
  grid-area: navbar;
}

.heroImage {
  width: 37.5rem;
  height: 25.7rem;
  background-image: url(images/HeroImageOriginalMobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navLogo {
}

.hero {
  grid-area: hero;
}

.recent {
  grid-area: recent;
}

.second {
  grid-area: second;
}

.process {
  background-color: #faeaeb;
  grid-area: process;
}

.test {
  grid-area: test;
}

.footer {
  background-color: #000;
  color: #fff;
  grid-area: footer;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1440px) {

}
