* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
}

/*** Typography ***/
/*** Header ***/
h1 {
  font-family: "raleway";
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.15;
}
/*** Subheader ***/
h2 {
  font-family: "raleway";
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.15;
}
/*** Quote ***/
h3 {
  font-family: "roboto";
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.15;
}
/*** Link ***/
h4 {
  font-family: "raleway";
  font-size: 1.6rem;
  font-weight: 100;
}
/*** Body ***/
p {
  font-family: "roboto";
  font-size: 1.6rem;
  line-height: 1.15;
}

/*** Structure ***/

section {
  background-color: #ffffff;
  color: #000000;
}

.header {
  padding-bottom: 8rem;
  text-align: center;
}

/*** Buttons ***/
.btn {
  background: none;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  font-family: "raleway";
  font-size: 1.6rem;
  font-weight: bold;
  margin: 4rem 0;
  overflow: hidden;
  padding: 2rem 4rem;
  position: relative;
  text-transform: uppercase;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn1 {
  background-color: #CF2833;
  color: #fff;
  text-decoration: none;
}

.back-to-top {
  background-color: #fff;
  color: #000;
}

.btn3 {
  background: none;
  color: #fff;
}

/*** Navigation Bar ***/
.navbar {
 background-color: #000;
 font-family: "raleway";
 font-size: 1.6rem;
 overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
 float: right;
 font-size: 1.6rem;
 color: #000;
 padding: 2rem 4rem;
 text-align: center;
 text-decoration: none;
}

/* The dropdown container */
.dropdown {
 float: left;
 overflow: hidden;
 }

/* Dropdown button */
.dropdown .dropbtn {
 background-color: inherit;
 border: none;
 color: #fff;
 cursor: pointer;
 font-family: inherit;
 font-size: 1.6rem;
 margin: 0;
 outline: none;
 padding: 2rem 4rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  background-color: #000;
  border-radius: .2rem;
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 float: none;
 color: #fff;
 display: block;
 text-decoration: none;
 text-align: center;
}

.dropdown-content a:hover {
 background-color: #CF2833;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
 display: block;
}

.navbar a img {
  height: 3rem;
  width: 3.8rem;
}

/*** Hero ***/
.hero-section {
  background-color: #000;
  color: #fff;
  padding: 8rem 0 2rem 0;
  width: 100%;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.hero-column1 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}

.hero-column2 img {
  height: 60rem;
  margin: 0 8rem;
  width: auto;
}

.hero-column3 {
  margin: 0 auto;
}

.hero-column3 h2 {
  padding-bottom: 4rem;
}

.hero-column4 {
  margin: 0 auto;
  text-align: center;
}

/*** Recent Project ***/
.work-section {
  padding: 8rem 0;
}

.work-image {
  height: 60rem;
}

.work-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.work-column h2{
  padding: 4rem 0 1rem 0;
}

.work-column h1 {
  padding: 0 0 4rem 0;
}

/*** Bam Decoration ***/
.Bam {
  background: none;
  height: auto;
  max-width: 40rem;
  width: 80%;
}

/*** Design Process ***/
.process-section {
  background-color: #faeaeb;
  padding: 8rem 0;
}

.process-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.process-column {
  align-items: center;
  margin: 0 auto;
  padding: 4rem 4rem;
  text-align: center;
}

.process-column img {
  height: 12rem;
  margin-bottom: 4rem;
}

.process-column h2 {
  padding-bottom: 2rem;
}

.process-column p {
  margin: .3rem;
}

/*** Smash Decoration ***/
.Smash {
  background: none;
  height: auto;
  max-width: 40rem;
  width: 80%;
}

/*** Testimonial ***/
.test {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  padding: 8rem 0;
  width: 60%;
}

/*** Footer ***/
.footer {
  background-color: #062D32;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8rem 0;
  text-align: center;
  width: 80%;
}

.footer-contact-icons img {
  height: 4rem;
  margin: 4rem 2rem;
  width: 4rem;
}

.footer-contact-links a {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "raleway";
  font-size: 1.6rem;
  padding-bottom: 2rem;
  text-decoration: none;
}


.footer-logo {
  height: 6rem;
  width: 8rem;
}

/*** Round Table Case Study ***/
/*** Hero ***/
.roundtable-hero-image {
  background-image: url(../images/Rocks.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60rem;
  padding-top: 16rem;
  width: 100%;
}

/*** Introduction ***/
.intro-section {
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem;
}

.intro-image {
  height: 60rem;
  justify-content: center;
  margin: 0 4rem;
}

.intro-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-column1 {
  margin: 0 auto;
}

.intro-column2 {
  margin: 0 auto;
}

.intro-column2 h2{
  padding: 4rem 0 1rem 0;
}

.intro-column2 h1 {
  padding-bottom: 2rem;
}

/*** User Surveys ***/
.surveys-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.surveys-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.surveys-column1 {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 80%;
}

.surveys-column2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.surveys-column3 {
  margin: 0 auto;
  padding-top: 4rem;
  width: 80%;
}

.surveys-column3 h2 {
  padding-bottom: 2rem;
}

.surveys-column3 p {
  padding-top: 2rem;
}

/*** Takeaways ***/
.takeaways-section {
  background-color: #faeaeb;
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.takeaways {
  width: 80%;
}

.takeaways h2 {
  padding-bottom: 2rem;
}

.takeaways p {
  padding-top: 2rem;
}

/*** User Personas ***/
.personas-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8rem;
}

.personas-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.personas-column1 {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.personas-column2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.personas-column3 {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.personas-column3 img {
  border-radius: .2rem;
  height: 16rem;
}

.personas-column3 h2 {
  padding: 4rem 0;
}

.personas-column3 p {
  padding-bottom: 2rem;
}

/*** Competative Analysis ***/
.competative-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.competative-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.competative-column1 {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.competative-column2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.competative-column3 {
  margin: 0 auto;
  padding-bottom: 8rem;
  text-align: center;
}
.competative-column4 {
  margin: 0 auto;
  width: 80%;
}

.competative-column2 .iconify {
  margin-bottom: 4rem;
}

.competative-column2 h2 {
  padding-bottom: 4rem;
}

/*** User Stories ***/
.stories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;

}

.stories {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.highpri-section {
  background-color: #faeaeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8rem 0;
}

.highpri-column {
  width: 80%;
}

.highpri-column h2 {
  padding-bottom: 2rem;
}

.highpri-column p {
  padding-top: 2rem;
}

/*** User Flows ***/
.flows-section {
  background-color: #fff;
  display: flex;
}

.flows-image {
  background-image: url(../images/UserFlowsBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12rem 0;
}

.flows {
  background-color: #fff;
  padding: 8rem 0;
}

.flows-grid {
  margin: 0 auto;
  width: 80%;
}

.needs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4rem 2rem 0 2rem;
  text-align: left;
}

/*** Wireframes ***/
.wireframes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.wireframes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wireframes-column1 {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 80%;
}

.wireframes-column2 img {
  height: 60rem;
  margin: 4rem 8rem;
}

.wireframes-column3 {
  margin: 0 auto;
  padding-top: 4rem;
  width: 80%;
}

/*** Usability Testing One ***/
.testingone-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.testingone-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testingone-column1 {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 80%;
}

.testingone-column2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.testingone-column3 {
  margin: 0 auto;
  padding: 4rem 0;
}

.testingone-column3 img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.testingone-column3 p {
  padding-top: 2rem;
}

.testingone-column4 {
  width: 100%;
}

.results-section {
  background-color: #faeaeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8rem;
}

.testingone-column5 {
  margin: 0 auto;
  padding-top: 8rem;
  width: 80%;
}

.testingone-column6 {
  margin: 0 auto;
  padding-top: 8rem;
}

.testingone-column6 img {
  height: 60rem;
  max-width: 400px;
  width: auto;
}

.testingone-column7 {
  margin: 0 auto;
  padding-top: 8rem;
  width: 80%;
}

/*** Branding Journey ***/
.branding-section {
  padding: 8rem 0;
}

.branding-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.branding-column1 {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 80%;
}

.branding-column2 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.branding-column3 {
  margin: 0 auto;
  padding: 4rem 4rem;
}

.branding-column3 img {
  height: 30rem;
}

.branding-column4 img {
  padding: 4rem 0 8rem 0;
  max-width: 120rem;
  width: 100%;
}

.branding-column5 {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.branding-column6 img {
  max-width: 120rem;
  padding-bottom: 8rem;
  width: 100%;
}

.branding-column7 {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.branding-column8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.branding-column9 img {
  height: 5rem;
}

.branding-column9 {
  margin: 0 auto;
  padding: 4rem 4rem;
}

/*** HI-FI Mockups ***/
.mockups-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.mockups-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mockups-column1 {
  margin: 0 auto;
  padding-bottom: 8rem;
  width: 80%;
}

.mockups-column2 img {
  width: 100%;
}

/*** Usability Testing Two ***/
.testingtwo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
}

.testingtwo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testingtwo-column1 {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 80%;
}

.testingtwo-column2 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8rem;
  width: 80%;
}

.testingtwo-column3 {
  margin: 0 auto;
  padding: 4rem 0;
}

.testingtwo-column3 img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.testingtwo-column3 p {
  padding-top: 2rem;
}

.testingtwo-column4 {
  width: 100%;
}

.testingtwo-column5 {
  margin: 0 auto;
  padding-top: 8rem;
  width: 80%;
}

.testingtwo-column6 {
  margin: 0 auto;
  padding-top: 8rem;
}

.testingtwo-column6 img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.testingtwo-column7 {
  margin: 0 auto;
  padding-top: 4rem;
  width: 80%;
}

/*** Final Deliverables ***/
.final-section {
  padding: 8rem 0;
}

.final-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.final-column1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 8rem;
  width: 80%;
}

.final-column2 {
  margin: 0 auto;
  padding: 0 4rem 4rem 4rem;
}

.final-column3 {
  margin: 0 auto;
  padding: 4rem 0;
}

.final-column3 img {
  height: 60rem;
  padding-left: 4rem;
}

.final-column4 {
  margin: 0 auto;
  padding-bottom: 2rem;
  width: 80%;
}
/*** Final Deliverables ***/
.conclusion-section {
  padding: 8rem 0;
}

.conclusion-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.conclusion-column1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}

.conclusion-column1 img {
  height: 60rem;
  padding: 4rem;
}

.conclusion-column2 {
  margin: 0 auto;
  width: 80%;
}
